<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
index
<a th:href="@{/testRequestByServletAPI}">通过Servletapi向request域对象共享数据</a> <br>
<a th:href="@{/testModelAndView}">通过modelandview向request域对象共享数据</a> <br>
<a th:href="@{/testModel}">通过model向request域对象共享数据</a> <br>
<a th:href="@{/testMap}">通过map集合向request域对象共享数据</a> <br>
<a th:href="@{/testModelMap}">通过testModelMap向request域对象共享数据</a> <br>
<a th:href="@{/testSession}">通过servletapi向session域对象共享数据</a> <br>
<a th:href="@{/testApplication}">通过servletapi向application域对象共享数据</a> <br>
</body>
</html>